@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

.table_responsive {
  max-width: 900px;
  border: 1px solid #00bcd4;
  background-color: #efefef33;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table > thead {
  background-color: #0f90b7;
  color: #fff;
}

table > thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
}

table > tbody > tr > td > img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn > a {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.action_btn > a:nth-child(1) {
  border-color: #26a69a;
}

.action_btn > a:nth-child(2) {
  border-color: orange;
}

.action_btn > a:hover {
  box-shadow: 0 3px 8px #0003;
}

table > tbody > tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

table > tbody > tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table > tbody > tr:hover {
  filter: drop-shadow(0px 2px 6px #0002);
}

.modal-container {
  position: relative;
  width: 160px;
}
.modal-container button {
  display: block;
  color: #fff;
  width: 160px;
  height: 50px;
  line-height: 50px;
  background: #0f90b7;
  font-size: 22px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 5px 5px -5px #333;
  transition: background 0.3s ease-in;
}
.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}
.modal-container #modal-toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.modal-container #modal-toggle:hover ~ button {
  background: #1e824c;
}
.modal-container #modal-toggle:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}
.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}
.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
  background-color: #fff;

  width: 600px;
  height: 550px;
  padding: 10px 30px;
  position: relative;
  left: calc(50% - 250px);
  top: 12%;
  border-radius: 4px;

  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media (max-width: 500px) {
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
    left: 30px;
    display: flex;
    position: relative;
    height: 600px;
    max-width: 400px;
  }
}
.modal-container
  #modal-toggle:checked
  ~ .modal-backdrop
  .modal-content
  .modal-close {
  color: #666;
  position: absolute;
  right: 2px;
  top: 0;
  padding-top: 7px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.modal-container
  #modal-toggle:checked
  ~ .modal-backdrop
  .modal-content
  .modal-close.button {
  top: initial;
  bottom: 20px;
  right: 20px;
  background: #4caf50;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
}
.modal-container
  #modal-toggle:checked
  ~ .modal-backdrop
  .modal-content
  .modal-close.button:hover {
  color: #fff;
  background: #1e824c;
}
.modal-container
  #modal-toggle:checked
  ~ .modal-backdrop
  .modal-content
  .modal-close:hover {
  color: #333;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #0f90b7;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #7ccde6;
}

.bloc {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline;
}

select {
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: #f9f9f9;
  background-image: none;
  box-shadow: none;
  font-size: 1.2em;
}

select option[value="1"] {
  background: #0f90b7;
  color: white;
}

select option[value="2"] {
  background: #fff;
  color: rgb(0, 0, 0);
}

select option[value="3"] {
  background: #0f90b7;
  color: white;
}

select option[value="4"] {
  background: #fff;
  color: rgb(0, 0, 0);
}
.cc {
  display: inline;
}

.select {
  position: relative;
  width: 350px;
  height: 45px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 15px;
  color: #555555;
  cursor: pointer;
}

.select::after {
  content: "\276F";
  position: absolute;
  top: 20%;
  right: 0;
  padding: 0 15px;
  background: white;
  pointer-events: none;
  transform: rotate(90deg);
  font-size: 1.5em;
  background: #f9f9f9;
}

.select:hover::after {
  color: #fa6141;
}
